<mat-card>
  <mat-card-header>
    <mat-card-title>Todo List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form [formGroup]="todoForm" (ngSubmit)="onSubmit(todoForm.value)">
      <div>
        <mat-form-field>
          <input matInput formControlName="todo" placeholder="new todo"  />
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">
          Add
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<br />
<table mat-table [dataSource]="todos$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox> </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="todo">
    <th mat-header-cell *matHeaderCellDef>todo</th>
    <td mat-cell *matCellDef="let element">{{ element.todo }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button color="warn" (click)="removeTodo(element)">Remove</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

